body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(95, 165, 25);
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #00b31b;
}

.hero{
    background-image: linear-gradient(rgb(0,0,0,0.5),  rgb(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button{
    background-color: #00b31b;
    color: white;
    padding: 15px 30ox;
    text-decoration: none;
    border-radius: 5xp;
    font-weight: bold;
    transition: background-color  0.3s;
}

.cta-button:hover{
    background-color: #004494;
}
.services-section {
    padding: 50px 20px;
    text-align: center;
}

.services-section h2{
    font-size: 2.5rem;
    margin-bottom: 40px;

}

.services-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: left;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px); /* Lifts the card on hover */
}

.service-card h3 {
    margin-top: 0;
    color: green;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}






